[Unit]
Description=K.O.Z.A
After=network.target

[Service]
Type=simple

ExecStart=/home/pi/venv-lw/bin/python /home/pi/koza.py
WorkingDirectory=/home/pi

User=pi
Group=pi
SupplementaryGroups=audio
Environment=KOZA_AO=alsa
Environment=KOZA_AUDIO_DEVICE=alsa/sysdefault:CARD=Headphones

Restart=always
RestartSec=2

# for mpv backend:
KillMode=control-group
TimeoutStopSec=5

# logs in systemd
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
